@keyframes fade {
	0% {
		color: #333;
		background-color: #333;
	}
	100% {
	}
}

body {
	--main-color: #87abc2;
	--main-light-color: #7da5bf;
	--text-color-spoiler: #ff5d6e;
	--navbar-background: #1e2124;
	font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
		"Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #24272c;
	color: var(--main-color);
}

#maintitle {
	text-align: center;
	font-size: 5em;
	padding: 0;
	margin: 0;
}

#namedesc {
	text-align: center;
}

.spoiler {
	display: inline;
	border-radius: 5px;
	color: #333;
	font-size: 0.75em;
	background-color: #333;
}
.spoiler:hover {
	animation: fade 0.25s;
	color: var(--text-color-spoiler);
}

.navbar {
	list-style-type: none;
	background-color: var(--navbar-background);
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navitem {
	margin: 0;
	padding: 0;
	float: left;
}

.navitem > a {
	display: block;
	background-color: var(--navbar-background);
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

.active > a {
	background-color: green !important;
}

#tagcontainer {
	display: block;
	background-color: #3D424F;
	color: white;
	border-radius: 5px;
	padding: 10px 5px;
	float:left;
}

.tag {
	background-color: #5561F5;
	color: white;
	border-radius: 5px;
	padding: 2px 2px;
}